:root {
    --black: #000000;
    --creme: #F5F5DC;
    --grey: #808080;
    --golden: #F8E231;
    --silver: #B1B1B1;
  }
  
  .navbar {
    background-color: var(--creme);
  }
  
  .navbar-brand {
    color: var(--black);
  }
  
  .navbar-toggler {
    border-color: var(--grey);
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='var(--grey)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .nav-link {
    color: var(--black);
  }
  
  .nav-link:hover {
    color: var(--golden);
  }
  
  .dropdown-menu {
    background-color: var(--creme);
    border-color: var(--grey);
  }
  
  .list-group-item {
    background-color: var(--creme);
    border-color: var(--grey);
  }
  
  .list-group-item:hover {
    background-color: var(--silver);
  }
  
  .icon {
    fill: var(--primary);
  }
  
  .bi-chat-dots-fill {
    fill: var(--golden);
  }
  
  .bi-person-video {
    fill: var(--golden);
  }
  
  .bi-card-checklist {
    fill: var(--golden);
  }
  
  .btn-primary {
    background-color: var(--golden);
    border-color: var(--golden);
  }
  
  .btn-primary:hover {
    background-color: var(--silver);
    border-color: var(--silver);
  }